<!DOCTYPE html>
<html ng-app="Final">
  <head>
    <meta charset="utf-8">
    <title>Final project</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src='/js/app.js'></script>
  </head>
  <body>
    <section ng-controller="app-controller">
      <h1>{{welcomeMessage}}</h1>
      <ul>
        <div>
          <h3>{{searchResults.character}}</h3>
          <p ng-show="searchResults.traditionalForm">
            Traditional Form:
          </p><span ng-bind-html="makeHTML(searchResults.traditionalForm)"></span>
          <p ng-show="searchResults.simplifiedForm">Simplified Form:</p><span ng-bind-html="makeHTML(searchResults.simplifiedForm)"></span>

          <h5 ng-repeat="result in searchResults.pinYin">{{result}}</h5>
          <p>
          {{searchResults.definition}}
        </p></div>
      </ul>
      <form class="send-form" ng-submit="sendChat()">
        <input type="text" ng-model="newSearch" placeholder="Search">
        <input type="submit"  value="send">

      </form>

    </section>
  </body>
</html>
