<!DOCTYPE html>
<html ng-app="Final">
  <head>
    <meta charset="utf-8">
    <title>Final project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src='/js/app.js'></script>
  </head>
  <body  ng-controller="app-controller">
      <h1>{{welcomeMessage}}</h1>

      <div class="container">
        <div class="results row">
          <div class="chinese  col-sm-6">
            <!-- character searched -->
            <h3 class='searched'>{{searchResults.character}}</h3>
            <!-- traditional form if extant -->
            <p class="alternate"ng-show="searchResults.traditionalForm">
              Traditional Form:
            </p><span class="alternate" ng-bind-html="makeHTML(searchResults.traditionalForm)"></span>
            <!-- simplified form if extant -->
            <p class="alternate" ng-show="searchResults.simplifiedForm">Simplified Form:</p>
            <span class="alternate" ng-bind-html="makeHTML(searchResults.simplifiedForm)"></span>
          </div>



            <div class="english col-sm-6">
              <h4 ng-repeat="result in searchResults.pinYin">Pin Yin: {{result}}
                 <br>Definition: <br>
                 {{searchResults.definition}}
               </h4>
            </div>
          </div>
        </div>
      <br>
      <div class=character ng-repeat="char in relevantChars">
        <!-- rename -->
        <div class="character"ng-click="sendChat(char)">
          {{char}}
        </div>
      </div>

      <!-- <form class="send-form" ng-submit="sendChat()">
        <input type="text" ng-model="newSearch" placeholder="Search">
        <input type="submit"  value="send">

      </form> -->
      <br><br><br>
      <!-- can be fixed by refactoring the database -->
      <div class="strokes first">
          1
      </div>
       <section ng-if="radical.strokes===1" ng-repeat="radical in radicals">
         <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
          2
      </div>
       <section ng-if="radical.strokes===2" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        3
      </div>
      <section ng-if="radical.strokes===3" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        4
      </div>
      <section ng-if="radical.strokes===4" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        5
      </div>
       <section  ng-if="radical.strokes===5" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        6
      </div>
      <section ng-if="radical.strokes===6" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        7
      </div>
      <section ng-if="radical.strokes===7" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        8
      </div>
      <section ng-if="radical.strokes===8" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        9
      </div>
      <section ng-if="radical.strokes===9" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        10
      </div>
       <section ng-if="radical.strokes===10" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        11
      </div>
       <section ng-if="radical.strokes===11" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        12
      </div>
      <section ng-if="radical.strokes===12" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        13
      </div>
       <section ng-if="radical.strokes===13" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
      </section>
      <div class="strokes">
        14
      </div>
      <section ng-if="radical.strokes===14" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>
      <div class="strokes">
        17
      </div>
       <section ng-if="radical.strokes===17" ng-repeat="radical in radicals">
           <div class="radical" ng-click= "findCharacters(radical.radical, $event)">
                {{radical.radical}}
            </div>
        </section>



  </body>
</html>
