*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.results{
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
}
.alternate {
  margin-left: -4px;
  display: inline-block;
  font-size: 18px;
  text-align: left;
}
.chinese{
  text-align: left;
  display: inline-block;
}
.searched{
  text-align: center;
  font-size: 48px;
}
.english{
  display: inline-block;
  text-align: left;
}
.english>h4{
  line-height: 30px;
}

.radical{
  display: inline-block;
  text-align: center;
  width: 20px;
}
.strokes{
  display: inline-block;
  border: 2px solid darkgrey;
  color: white;
  background-color: grey;
  padding:3px 0;
  margin: 0px;
  width: 32px;
  text-align: center;
}
.first{
  margin-left: 3px;
}
.character{
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 2px;
  font-size: 20px;
}

.character:hover,
.radical:hover{
  cursor: pointer;
}

section{
  display: inline-block;
  border: 2px solid grey;
  margin: 3px;
  padding: 3px
}
.clicked{
  border-radius: 50%;
  background-color: rgba(0,235,0,0.5);
}
@media screen and (max-device-width: 800px){
  .radical{
    width: 100px;
    height: 100px;
    font-size: 80px;
  }
  .strokes{
    width: 109px;
    height:110px;
  }
}
